<%- include('topbar.ejs') %>

<div id="content">
    

    <nav id="projectlist">
        <div class="split hdr">
            <div>
                <h3>Projects    </h3>
                <p>Browse projects...</p>
            </div>
            <button class="btnicon"><i class="fa-sharp fa-regular fa-plus"></i></button>
        </div>

    </nav>
    <nav id="projectcontent"></nav>
</div>