
<head>
  <title>Data Visualization App</title>
  <meta charset="utf8">
  <link rel="stylesheet" href="/res/style.css">
  <link href="https://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <script type="text/javascript" src="https://alcdn.msauth.net/browser/2.35.0/js/msal-browser.min.js"></script>
    <link
    rel="stylesheet"
    data-purpose="Layout StyleSheet"
    title="Default"
disabled
    href="/css/app-937c1ff7d52fd6f78dd9322599e2b5d4.css?vsn=d"
  >
  <link
    rel="stylesheet"
    data-purpose="Layout StyleSheet"
    title="Web Awesome"

    href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d"
  >

    <link
      rel="stylesheet"

      href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css"
    >

    <link
      rel="stylesheet"

      href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css"
    >

    <link
      rel="stylesheet"

      href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css"
    >

    <link
      rel="stylesheet"

      href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css"
    >

<script>
  
const _msalcfg = {
    auth: {
      clientId: "acdfc600-5b40-4ca7-8385-82f768109728",
      authority: "https://login.microsoftonline.com/de13b4a0-e97e-4d79-883b-742dc5839812",
      redirectUri: `${window.location.protocol}//${window.location.hostname}/api/auth`
    },
    cache: {
      cacheLocation: "sessionStorage",
      storeAuthStateInCookie: false
    }
  }

const msl = new msal.PublicClientApplication(_msalcfg);


const _msscope = {
    scope: ['User.Read']
};

  const acc = msl.getActiveAccount();

  if(!acc) {
    msl.handleRedirectPromise().then((res) => {
        if(res) {
          
            msl.setActiveAccount(res);
            document.cookie = `accid=${msl.getActiveAccount().localAccountId};`
            window.location.href = '/dashboard';
        }
    }).catch((err) => {
        console.log("MS Error", err);
    })
} else {
    console.log("Active account:", acc);
}

</script>

</head>


<nav id="topbar">
    <nav style="width: 100%;">
        <h1><a href="/">DVA</a></h1>
    </nav>
    <nav id="tbright">

    <script>
      const tb = document.getElementById("tbright");
      if(acc) {
        tb.innerHTML += `
        
        <p>${acc.name}</p>
        `
      }
      </script>
    <i class="fa-regular fa-sun-bright" id="modeswitch" onclick="togglecolormode();"></i>
  <script>
    if(acc) {
      tb.innerHTML += `<a id='logout' href='/disconnect' class='textcolor'><i class="fa-solid fa-arrow-right-from-bracket"></i></a>`
    }
  </script>  
  </nav>
      
  </nav>
<script src="/res/script.js"></script>